.social-network {
  list-style: none;
  padding: 0;
}

.social-network > li {
  display: inline;
  padding: 5px;
  margin: 0;
  font-size: 35px;
}

.icoGithub,
.icoLinkedin {
  color: white;
}

.icoGithub:hover {
  color: #14141444;
}

.icoLinkedin:hover {
  color: rgb(39, 39, 163);
}
